version: "3.9"

services:
  db:
    image: mariadb:11
    environment:
      MARIADB_DATABASE: alojamientos_db
      MARIADB_USER: admin
      MARIADB_PASSWORD: admin
      MARIADB_ROOT_PASSWORD: rootpass
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -p$${MARIADB_ROOT_PASSWORD} --silent"]
      interval: 10s
      timeout: 5s
      retries: 10

  app:
    build: .
    depends_on:
      db:
        condition: service_healthy
    environment:
      # Activa perfil a través de la “perilla” APP_ENV (spring.profiles.active se setea en application.properties)
      APP_ENV: dev

      # Variables que consume application-prod.properties
      SERVER_PORT: 8080
      DB_HOST: db
      DB_PORT: 3306
      DB_NAME: alojamientos_db
      DB_USERNAME: admin
      DB_PASSWORD: admin
      LIQUIBASE_ENABLED: "true"
      JPA_DDL_AUTO: update
      JPA_SHOW_SQL: "false"
      JPA_FORMAT_SQL: "false"

      # Otras variables opcionales para cuando se integre estos módulos
      # JWT_SECRET: super-secret
        # SMTP Gmail (con App Password)
      SMTP_HOST: smtp.gmail.com
      SMTP_PORT: "587"
      SMTP_USERNAME: "stayco928@gmail.com"
      SMTP_PASSWORD: "hcnxwnzghgddipww"
      SMTP_TLS: "true"

      # Flags de la app
      EMAIL_ENABLED: "true"          # habilita envío real
      AUTO_VERIFY_USERS: "true"      # auto-verificar usuarios al registrarse (salta correo)

    ports:
      - "8080:8080"

volumes:
  db_data:
